/*//////////////////////////UNIVERSAL SELECTORS//////////////////////////////////////////*/
:root {
    --primary-color: coral;
    --secondary-color: bisque;
    --tertiary-color: #008080;
}

* {
    font-family: garamond, "courier new", monospace;
    color: var(--secondary-color);
}

body {
    background-image: url(../photos/body-background.jpg);
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/*/ /////////////////////////HEADER///////////////////////////////////////////////////////*/

header {
    width: 100%;
    height: 8vh;
    margin-top: 5vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-wrap: no-wrap;
    width: 20%;
    justify-content: flex-end;
    margin-right: 20px;
}

nav a {
    max-width: 50%;
    padding: 3% 3%;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    border: 1px;
    border-radius: 100px;
    border-style: dashed;
    flex-shrink: 0;
    margin: 8% 1.5%;
    overflow: hidden;
}

nav a:hover {
    opacity: 0.7;
}

h1 {
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 38px;
    margin: -20px 0px 0px 10%;
    padding: 5px 5px 0 0;
    background-color: var(--secondary-color);
    box-shadow: -5px 5px 0px 5px var(--secondary-color), -10px 10px 0px 10px var(--tertiary-color);
    align-self: center;
    border-radius: 5px;
}

/*/ /////////////////////////MAIN CONTENT///////////////////////////////////////////////////////*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-title {
    display: flex;
    margin: 8vh 0 4vh 0;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 0px 25vw 0px 25vw;
    border-radius: 8px;
}

#projects-title h2 {
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 38px;
    margin: -20px 0px 0px 10%;
    padding: 5px 5px 0 0;
    background-color: var(--secondary-color);
    box-shadow: -5px 5px 0px 5px var(--secondary-color), -10px 10px 0px 10px var(--tertiary-color);
    align-self: center;
    border-radius: 5px;
}

#first-project {
    width: 40vh;
    height: 25vh;
}

#first-project h2 {
    margin-top: 11.5%;
    margin-bottom: -4.5%;
}

#first-project a {
    margin-top: 5%;
    margin-bottom: -4.5%;
    margin: 4% 0;
    padding: 4%;
}

#projects-content {
    justify-self: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 65%;
    margin: 4vh 0;
}

.card {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    min-height: 300px;
    min-width: 200px;
    border: 3px solid var(--secondary-color);
    background: url(../photos/card-background-default.png);
    background-size: 200% 100%;
    background-position-x: -45px;
    margin: 4vh 5%;
}

.card h2 {
    margin-top: 30%;
    margin-bottom: -8%;
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    padding: 1%;
    text-align: center;
}

.card a {
    margin: 8% 0;
    padding: 7%;
    background-color: var(--primary-color);
    min-width: 65%;
    text-align: center;
    border: 3px solid var(--secondary-color);
    opacity: 0;
    font-weight: bold;
    font-size: 20px;
}

.card:hover {
    box-shadow: 0 0 12px 6px var(--secondary-color), 0 0 20px 12px var(--primary-color), 0 0 25px 18px var(--secondary-color);
}

.card:hover a {
    opacity: 1;
}

/*/ //////////////////////////ABOUT ME POPUP/////////////////////////////////////////////////////*/
.popup {
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    height: 85vh;
    width: 50vw;
    border-radius: 8px;
    background-color: var(--secondary-color);
    box-shadow: -0.5em 0.5em 0px 0.5em var(--secondary-color), -1em 1em 0px 1em var(--tertiary-color);
}

.popup button {
    background-color: transparent;
    border-style: none;
    color: var(--secondary-color);
    font-family: monospace;
    font-size: 38px;
    position: absolute;
    left: 18px;
    top: 10px;
}

.popup button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.popup-background {
    background-color: var(--tertiary-color);
    position: absolute;
    border-radius: 8px;
    top: 2%;
    left: 0.5%;
    width: 97.5%;
    height: 97.5%;
}

.popup-top-left {
    background-color: var(--primary-color);
    position: absolute;
    top: 2%;
    left: 2%;
    height: 30%;
    width: 26%;
    border-radius: 8px 8px 0 0;
}

.popup-bottom-left {
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 2%;
    left: 2%;
    height: 70%;
    width: 26%;
    border-radius: 0 0 8px 8px;
}

.popup section {
    background-color: var(--secondary-color);
    position: absolute;
    border-radius: 8px;
    top: 2%;
    right: 2%;
    height: 96%;
    width: 68%;
}

.popup img {
    position: absolute;
    width: 70%;
    left: 15%;
    transform: translate(0%, -50%);
    border-radius: 100%;
}

/*/ //////////////////////////ACCESSABILITY//////////////////////////////////////////////////////*/

@media screen and (max-width: 768px) {
    /*////////////////////////HEADER/////////////////////////////////////////////////////////////*/

    nav {
        flex-wrap: wrap;
        width: 180px;
    }

    nav a {
        min-width: 75.5px;
        max-width: 50%;
        min-height: 28px;
        max-height: 50%;
        margin: 3% 1.5%;
    }

    /*/ ///////////////////////HEADER////////////////////////////////////////////////////////////*/

    #projects-content {
        justify-content: center;
        flex-wrap: wrap;
    }

    .card a {
        pointer-events: none;
    }

    a:focus {
        pointer-events: all;
    }
}
