/*//////////////////////////UNIVERSAL SELECTORS//////////////////////////////////////////*/
:root {
    --primary-color: blue;
    --secondary-color: bisque;
}

* {
    font-family: garamond, "courier new", monospace;
    color: var(--secondary-color);
}

body {
    background-image: url(../photos/body-background.jpg);
}
/*/ /////////////////////////HEADER///////////////////////////////////////////////////////*/

header {
    width: 100%;
    height: 8vh;
    margin-top: 5vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-wrap: no-wrap;
    width: 20%;
    justify-content: space-around;
}

nav a {
    max-width: 50%;
    padding: 3% 3%;
    color: var(--secondary-color);
    border: 1px;
    border-radius: 100px;
    border-style: dashed;
    flex-shrink: 1;
}

nav a:hover {
    background-color: black;
    opacity: 0.9;
}

h1 {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 20px;
    margin-left: 10%;
}

/*/ /////////////////////////MAIN CONTENT///////////////////////////////////////////////////////*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-title {
    display: flex;
    margin: 4vh 0;
    justify-content: center;
}

#projects-content {
    justify-self: center;
    width: 75%;
    margin: 4vh 0;
}

.card {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 30vh;
    width: 20vh;
    border: 3px solid var(--secondary-color);
    background: url(../photos/card-background-default.png);
    background-size: 200% 100%;
    background-position-x: -45px;
}

.card h2 {
    margin-top: 30%;
    margin-bottom: -8%;
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    padding: 1%;
    text-align: center;
}

.card a {
    margin: 8% 0;
    padding: 7%;
    background-color: blue;
    min-width: 65%;
    text-align: center;
    border: 3px solid var(--secondary-color);
    opacity: 0;
}

.card:hover {
    box-shadow: 0 0 12px 6px var(--secondary-color), 0 0 20px 12px #b400ff, 0 0 25px 18px #ff00d4;
}

.card:hover a {
    opacity: 1;
}
