/*//////////////////////////UNIVERSAL SELECTORS//////////////////////////////////////////*/

* {
    font-family: garamond, "courier new", monospace;
}

/*/ /////////////////////////HEADER///////////////////////////////////////////////////////*/

header {
    width: 100%;
    height: 200px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../photos/header-background.jpg);
}

header img {
    border-radius: 40%;
    flex-wrap: shrink;
    max-height: 100%;
    width: auto;
    padding: 2%;
}

nav {
    justify-self: right;
    justify-content: space-around;
    display: flex;
    width: 20%;
}

nav a {
    padding: 10px 1%;
    color: bisque;
    border: 1px;
    border-radius: 8px;
    border-style: dashed;
}

h1 {
    color: bisque;
    font-weight: bold;
    font-size: 20px;
}

/*/ /////////////////////////HEADER///////////////////////////////////////////////////////*/
